<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/admin/plugins/images/favicon.png'|theme }}">
<title>POS</title>
<link href="{{ 'assets/admin/plugins/bower_components/datatables/jquery.dataTables.min.css'|theme }}" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{ 'assets/admin/bootstrap/dist/css/bootstrap.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/admin/plugins/bower_components/toast-master/css/jquery.toast.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/admin/plugins/bower_components/morrisjs/morris.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/admin/plugins/bower_components/chartist-js/dist/chartist.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/admin/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/admin/plugins/bower_components/calendar/dist/fullcalendar.css'|theme }}" rel="stylesheet" />
<link href="{{ 'assets/admin/css/animate.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/admin/css/style.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/admin/css/colors/megna-dark.css'|theme }}" id="theme" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
.my-custom-scrollbar {
position: absolute;
height: 300px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
</style>
