<div class="sidebar-nav">
    <div class="sidebar-head">
        <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span>
            <span class="hide-menu">Navigation</span></h3>
    </div>
    <ul class="nav" id="side-menu">
        <!-- <li class="user-pro">
            <a href="javascript:void(0)" class="waves-effect">
                <img src="{{ 'assets/admin/plugins/images/users/varun.jpg'|theme }}" alt="user-img" class="img-circle">
                <span class="hide-menu"> Steve Gection<span class="fa arrow"></span></span>
            </a>
        </li> -->
        <li>
            <a href="/" class="waves-effect"><i class="mdi mdi-sale fa-fw" data-icon="v"></i> <span class="hide-menu">
                    Dashboard <span class="fa arrow"></span> <span
                        class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/categories" class="waves-effect"><i class="mdi mdi-playlist-plus fa-fw" data-icon="v"></i> <span
                    class="hide-menu"> Categories <span class="fa arrow"></span> <span
                        class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/products" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span
                    class="hide-menu"> Products <span class="fa arrow"></span> <span
                        class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/expenses" class="waves-effect"><i class="mdi mdi-cash-usd fa-fw" data-icon="v"></i> <span
                    class="hide-menu"> Expenses <span class="fa arrow"></span> <span
                        class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/purchases" class="waves-effect"><i class="mdi mdi-lastfm" data-icon="v"></i> <span
                    class="hide-menu"> Purchases <span class="fa arrow"></span> <span
                        class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/sales" class="waves-effect"><i class="mdi mdi-pulse fa-fw" data-icon="v"></i> <span
                    class="hide-menu"> Sales <span class="fa arrow"></span> <span
                        class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/orders" class="waves-effect"><i class="mdi mdi-satellite fa-fw" data-icon="v"></i> <span
                    class="hide-menu"> Orders <span class="fa arrow"></span> <span
                        class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/low-stocks" class="waves-effect"><i class="mdi mdi-stocking fa-fw" data-icon="v"></i> <span
                    class="hide-menu"> Low Stocks <span class="fa arrow"></span> <span
                        class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li style="float: right">
            <a data-request="onLogout" data-request-data="redirect: '/login'" class="waves-effect"><i
                    class="mdi mdi-satellite fa-fw" data-icon="v"></i> <span class="hide-menu"> Logout <span
                        class="fa arrow"></span> <span
                        class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
    </ul>
</div>
