<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{{ 'assets/admin/october/jquery-3.4.1.min.js'|theme }}"></script>
    {% framework extras %}
    {% partial "/admin/head" %}
</head>

<body class="fix-header">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            {% partial "/admin/nav" %}
        </nav>
        <div class="navbar-default sidebar" role="navigation">
            {% partial "/admin/sidebar" %}
        </div>
        <div id="page-wrapper">
            <div class="container-fluid">
                {% page %}
            </div>
            {% partial "/admin/footer" %}

        </div>
    </div>
</body>

</html>
