<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% framework extras %}
    {% partial "head" %}
</head>

<body class="fix-header">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            {% partial "nav" %}
        </nav>
        <div class="navbar-default sidebar" role="navigation">
            {% partial "sidebar" %}
        </div>
        <div id="page-wrapper">
            <div class="container-fluid">
                {% page %}
            </div>
            {% partial "footer" %}

        </div>
    </div>
</body>

</html>
