<script src="{{ 'assets/admin/plugins/bower_components/jquery/dist/jquery.min.js'|theme }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ 'assets/admin/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{{ 'assets/admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js'|theme }}"></script>
<!--slimscroll JavaScript -->
<script src="{{ 'assets/admin/js/jquery.slimscroll.js'|theme }}"></script>
<!--Wave Effects -->
<script src="{{ 'assets/admin/js/waves.js'|theme }}"></script>
<!--Counter js -->
<script src="{{ 'assets/admin/plugins/bower_components/waypoints/lib/jquery.waypoints.js'|theme }}"></script>
<script src="{{ 'assets/admin/plugins/bower_components/counterup/jquery.counterup.min.js'|theme }}"></script>
<!--Morris JavaScript -->
<script src="{{ 'assets/admin/plugins/bower_components/raphael/raphael-min.js'|theme }}"></script>
<script src="{{ 'assets/admin/plugins/bower_components/morrisjs/morris.js'|theme }}"></script>
<!-- chartist chart -->
<script src="{{ 'assets/admin/plugins/bower_components/chartist-js/dist/chartist.min.js'|theme }}"></script>
<script src="{{ 'assets/admin/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js'|theme }}"></script>
<!-- Calendar JavaScript -->
<script src="{{ 'assets/admin/plugins/bower_components/moment/moment.js'|theme }}"></script>
<script src="{{ 'assets/admin/plugins/bower_components/calendar/dist/fullcalendar.min.js'|theme }}"></script>
<script src="{{ 'assets/admin/plugins/bower_components/calendar/dist/cal-init.js'|theme }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ 'assets/admin/js/custom.min.js'|theme }}"></script>
<script src="{{ 'assets/admin/js/dashboard1.js'|theme }}"></script>
<!-- Custom tab JavaScri/pt -->
<script src="{{ 'assets/admin/js/cbpFWTabs.js'|theme }}"></script>
<script type="text/javascript">
(function() {
    [].slice.call(document.querySelectorAll('.sttabs')).forEach(function(el) {
        new CBPFWTabs(el);
    });
})();
</script>
<script src="{{ 'assets/admin/plugins/bower_components/toast-master/js/jquery.toast.js'|theme }}"></script>
<!--Style Switcher -->
<script src="{{ 'assets/admin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js'|theme }}"></script>

<script src="{{ 'assets/admin/plugins/bower_components/datatables/jquery.dataTables.min.js' }}"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
