<div class="sidebar-nav">
    <div class="sidebar-head">
        <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
    <ul class="nav" id="side-menu">
        <li class="user-pro">
            <a href="javascript:void(0)" class="waves-effect">
                <img src="{{ 'assets/admin/plugins/images/users/varun.jpg'|theme }}" alt="user-img" class="img-circle">
                <span class="hide-menu"> Steve Gection<span class="fa arrow"></span></span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="waves-effect active"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Dashboard <span class="fa arrow"></span> <span class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/admin/categories" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Categories <span class="fa arrow"></span> <span class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/admin/products" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Products <span class="fa arrow"></span> <span class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/admin/expenses" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Expenses <span class="fa arrow"></span> <span class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
        <li>
            <a href="/admin/sales" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Sales <span class="fa arrow"></span> <span class="label label-rouded label-inverse pull-right">4</span></span></a>
        </li>
    </ul>
</div>
