url = "/"
title = 'pos'
layout = "admin"
[Products]
[Orders]
[account]
[session]
==
<?php
function onStart(){
    $user = Auth::getUser();
    $subs =  \Mohsindev\Admin\Models\Subscription::find(1);
    $check = Hash::check('PqPVoRXEIV6pGjzEaMle', $subs->key);
    $date_check = (\Carbon\Carbon::parse($subs->expiry_date)->gt(\Carbon\Carbon::now()));
    if($check && $date_check){
        if(!$user)
        {
            return redirect('/login');
        }
    }
    else {
        return redirect('/expire');
    }

}
?>
==
<div class="row">
    <div class="col-sm-12">
        <!-- <div class="white-box"> -->
            <!-- <div class="row">
                <div class="col-sm-2">
                    <h3 class="box-title m-b-0">Products</h3>
                </div>
            </div> -->
            <br>
            <!-- <p class="text-muted m-b-30">Export data to Copy, CSV, Excel, PDF & Print</p> -->

            <div class="col-md-6">
                <br><br>
                <div style="padding-bottom: 10px;"></div>
                <div class="table-responsive">
                    <table id="order" class="display nowrap table color-table info-table table-striped" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Qt</th>
                                <th>Unit Price</th>
                                <th>Price</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="add-order">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table id="example23" style="min-height: 300px;" class="display nowrap table color-table info-table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S #</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Rack</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- <tfoot>
                            <tr>
                                <th>S #</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Retail Price</th>
                                <th>Sale Price</th>
                                <th>Add</th>
                            </tr>
                        </tfoot> -->
                        <tbody>
                            {% for product in products %}
                            <tr onclick="addOrder({{product}})">
                                <td >{{loop.index}}</td>
                                <td>{{product.name}}</td>
                                {% for category in categories%}
                                {% if category.id == product.category_id%}
                                <td>{{category.name}}</td>
                                {% endif %}
                                {% endfor %}
                                <td>Rs. {{product.sale_price}}</td>
                                <td>{{product.rack}}</td>
                                <td>
                                    <a href="#" data-toggle="tooltip" data-original-title="Add to List" >
                                    <i class="fa fa-plus text-inverse m-r-10"></i> </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="row m-t-30 minus-margin">
                        <div class="col-sm-6 col-sm-2 b-t b-r">
                            <ul class="expense-box">
                                <li><i class="fa fa-outdent text-info"></i><span><h2 id="sub-total">Rs. 0</h2><h4>Total</h4></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-5 col-sm-2  b-t">
                            <ul class="expense-box">
                                <li><i class="fa fa-plus-square text-info"></i><span><h2><input type="number" value="0" id="discount-price" onchange="onDiscount()" style="border: none;background: transparent;"></h2><h4>Discount</h4></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-sm-2 b-t b-r">
                            <ul class="expense-box">
                                <li><i class="fa fa-money text-info"></i><span><h2><input type="number" id="collectable" value="0" style="border: none;background: transparent;"></h2><h4>Collectable</h4></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-sm-2 b-t b-r">
                            <ul class="expense-box">
                                <li><i class="ti-hand-point-right text-info"></i><span><h2><input type="number" id="cash" value="0" onchange="onCash()" style="border: none;background: transparent;"></h2><h4>Cash</h4></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-sm-2 b-t b-r">
                            <ul class="expense-box">
                                <li><i class="fa fa-money text-info"></i><span><h2 id="return-cash">Rs. 0</h2><h4>Return</h4></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-sm-2 b-t b-r">
                            <ul class="expense-box">
                                <form data-request="onCheckout" data-request-files data-request-redirect="/" data-request-flash method="POST">
                                <i class="fa fa-checkout text-info"></i><button type="submit" class="btn btn-info btn-circle btn-xl" onclick="onCheckout()"><i class="fa fa-shopping-basket"></i> </button><span><h4>Checkout</h4></span>
                                <input type="hidden" id="product_ids" name="product_ids">
                                <input type="hidden" id="quantities" name="quantities">
                                <input type="hidden" id="total" name="price">
                                <input type="hidden" id="total_price" name="total_price">
                                <input type="hidden" id="discount" name="discount">
                                <input type="hidden" id="unit_prices" name="unit_prices">
                                </form>
                            </ul>
                        </div>
                        <!-- <div class="col-sm-5 col-sm-3 b-t b-r">
                            <ul class="expense-box">
                                <li><i class="fa fa-money text-info"></i><span><h2 id="return-cash">Rs. 0</h2><h4>Change</h4></span></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        <!-- </div> --> <!-- White BOX-->
    </div>
</div>
<!-- /.row -->
<div class="row" style="display: none">
    <div class="col-md-12">
        <div class="white-box printableArea">
            <h2 style="text-align: center"><b>Chemist Store</b></h2>
            <h3><b>INVOICE</b> <span class="pull-right">{{invoice_id}}</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover" id="invoice-table">
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Total Amount: <b id="invoice-sub-total"></b></p>
                        <p>Discount : <b id="invoice-discount"></b> </p>
                        <p>Collectable : <b id="invoice-collectable"></b> </p>
                        <hr>
                        <!-- <h3><b>Total :</b> $13,986</h3> </div> -->
                    <div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{{ 'assets/admin/plugins/bower_components/jquery/dist/jquery.min.js'|theme }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ 'assets/admin/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{{ 'assets/admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js'|theme }}"></script>
    <!--slimscroll JavaScript -->
    <script src="{{ 'assets/admin/js/jquery.slimscroll.js'|theme }}"></script>
    <!--Wave Effects -->
    <script src="{{ 'assets/admin/js/waves.js'|theme }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ 'assets/admin/js/custom.min.js'|theme }}"></script>
    <script src="{{ 'assets/admin/plugins/bower_components/datatables/jquery.dataTables.min.js'|theme }}"></script>
    <!-- start - This is for export functionality only -->
    <!-- <script src="{{ 'assets/admin/data-table/dataTables.buttons.min.js'|theme }}"></script>
    <script src="{{ 'assets/admin/data-table/buttons.flash.min.js'|theme }}"></script>
    <script src="{{ 'assets/admin/data-table/jszip.min.js'|theme }}"></script>
    <script src="{{ 'assets/admin/data-table/pdfmake.min.js'|theme }}"></script>
    <script src="{{ 'assets/admin/data-table/vfs_fonts.js'|theme }}"></script>
    <script src="{{ 'assets/admin/data-table/buttons.html5.min.js'|theme }}"></script>
    <script src="{{ 'assets/admin/data-table/buttons.print.min.js'|theme }}"></script> -->
    <!-- end - This is for export functionality only -->
    <script>
    let count = 0;
    var ids = [];
    var product_ids = [];
    var quantities = [];
    var unit_price = [];
    var subTotal = 0;
    var discount = 0;
    var profit = 0;
    var collectableCash = 0;
    var table = document.getElementById('order');
    function addOrder(product){
        // var rowTable = $("#order").dataTable();
        count++;
        product_price = product.retail_price-product.discount;
        //console.log('Product Price is ' + product_price);
        $('#add-order').append(`
            <tr id=${count}>
                <td>${product.name}</td>
                <td><input type="number" id="quantity${count}" value="1" onChange="onQuantity(${count}, '${product_price}')" style="border: none;background: transparent; width:80px"></td>
                <td><input type="number" id="price${count}" value="${product_price}" style="border: none;background: transparent; width:80px;" readonly></td>
                <td><input type="number" id="unit${count}" value="${product_price}" style="border: none;background: transparent; width:80px;" readonly></td>
                <td><a href="#" onClick="onRemove(${count})" data-toggle="tooltip" data-original-title="Remove"><i class="fa fa-trash text-inverse m-r-10"></i> </a></td>
            </tr>
        `);
        ids.push(count);
        product_ids.push(product.id);
        quantities.push(1);
        unit_price.push(product.retail_price);
        calTotal(count);
    }

    function onQuantity(id, detail){
        var quan = "quantity"+id;
        var price = "price"+id;
        var unit = "unit"+id;
        var quantity = document.getElementById(quan).value;
        document.getElementById(unit).value = detail*quantity;
        document.getElementById(price).innerHTML = detail*quantity;
        var index = ids.indexOf(id);
        quantities[index] = quantity;
        calTotal(id);
    }

    function onDiscount(){

        var discount_price = document.getElementById('discount-price').value;
        collectableCash = subTotal - discount_price;
        document.getElementById('collectable').value = collectableCash;
    }

    function calTotal(id) {
        var table = document.getElementById('order');
        subTotal = 0;
        //console.log(table.rows.length);
        for(var i=1; i<(table.rows.length); i++){
            var quan = "quantity"+(ids[i-1]);
            var pri = "price"+(ids[i-1]);
            var quantity = document.getElementById(quan).value;
            var price = document.getElementById(pri).value;
            subTotal = subTotal + (price*quantity);
        }
        sub = document.getElementById('sub-total').innerHTML = subTotal;
        //console.log(subTotal);
    }

    function onCheckout(){
        var discount_price = document.getElementById('discount-price').value;
        collectableCash = subTotal - discount_price;
        document.getElementById('collectable').value = collectableCash;
        //console.log('Discount price is '+ JSON.stringify(discount_price));

        document.getElementById('product_ids').value = JSON.stringify(product_ids);
        document.getElementById('quantities').value = JSON.stringify(quantities);
        document.getElementById('total').value = collectableCash;
        document.getElementById('total_price').value = JSON.stringify(subTotal);
        document.getElementById('discount').value = discount_price;
        document.getElementById('unit_prices').value = JSON.stringify(unit_price);

        var $invoice_detail = $('#order').clone();
        $('#invoice-table').html($invoice_detail);
        $('#invoice-sub-total').html(subTotal);
        $('#invoice-discount').html(discount_price);
        $('#invoice-collectable').html(collectableCash)

        var mode = 'iframe'; //popup
        var close = mode == "popup";
        var options = {
            mode: mode,
            popClose: close,
            autoPrint: true
        };
        $("div.printableArea").printArea(options);
    }

    function hello(){
        alert('heloo');
    }

    function onCash(){
    var discount_price = document.getElementById('discount-price').value;
    collectableCash = subTotal - discount_price;
    document.getElementById('collectable').value = collectableCash;
    document.getElementById('return-cash').innerHTML = (document.getElementById('cash').value - collectableCash);
    }

    function onRemove(id){
        var remove = '#'+id;
        $(remove).remove();
        var index = ids.indexOf(id);
        if (index > -1) {
        ids.splice(index, 1);
        }
        product_ids.splice(index, 1);
        quantities.splice(index, 1);
        unit_price.splice(index, 1);
        calTotal();
    }

    $(document).ready(function() {
        $('#myTable').DataTable();
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "pageLength": 5
    });
    // $('#order').DataTable({
    //     dom: 'Bfrtip',
    //     buttons: [
    //         'copy', 'csv', 'excel', 'pdf', 'print'
    //     ],
    //     "pageLength": 5
    // });

    </script>
    <!--Style Switcher -->
    <script src="{{ 'assets/admin/js/jquery.PrintArea.js'|theme }}" type="text/JavaScript"></script>
    <script src="{{ 'assets/admin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js'|theme }}"></script>
